*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
  height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
    text-align: center;
    /* background: #08df9e; */
    /* background: #025c39; */
    background: #2f0155;
    /* background: #500072; */
  }

h1, h2, h3{
  color: aliceblue;
  margin-top: 0;
  
}

#main{
    text-align: center;
    height: 100%;
    margin-top: 1%;
}

.title{
  display: inline-block;
  font-size: 100px;
  color: aliceblue;
  font-family: 'Sawarabi Mincho';
  vertical-align: middle;
}

.start{
  display: inline-block;
  vertical-align: middle;
  padding-top: 10%;
}

.selected{
  color: aliceblue;
  font-size: 24px;
}

.inputs{
  margin-bottom: 40px;
}

.inputname{
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #1d1d1d;
  outline: none;
}

.make{
  padding: 15px 60px;
  margin: 10px 30px 20px 30px;
}

button{
  position: relative;
  z-index: 1;
}

.btn-border {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
  }
  
.btn-border:hover {
    color: #fff;
    background: #000;
  }

.btn{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    /* padding: 1rem 4rem; */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;    

}

.wordbtn {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    margin: 2% auto;
    text-align: center;
    justify-content: center;
}

.btndiv{
    width: calc(100%/3);
}

.word {
    width: 145px;
    height: 60px;
    margin: 0px 0px 60px 0px;
}

.selected{
    display: inline-block;
    margin: 0% 1%;
}

.selected_list{
  /* margin-top: -60px; */
  height: 50px;
}

.h2class{
  margin-top: -60px;
}

.howto{
  position:relative;

}

.toggle{
  position: absolute;
  padding: 15px 60px;
  right: 5px;
  top: 5px;
  transition: all 0.5s;
  /* background: #025c39; */
}

.show_how{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  font-size: 24px;
  padding: 20px 20px;
  height: 700px;
  background: white;
  opacity: 0.9;
  z-index: 10;
  border-radius: 10px;
}

.h2play{
  color:#000
}

li{
  margin-bottom: 15px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.aaa{
  margin-right: 10px;
}

.point{
  font-size: 30px;
  margin-right: 10px;
  color: aliceblue;
}

.new-selected{
  color: aliceblue;
  display: inline-block;
  margin: 0% 1%;
  font-size: 36px;
  font-weight: 500;
}

.result-doc {
  margin-bottom: 0 !important;
}

.answer{
  margin-bottom: 20px;
}

.wwwww{
  color: aliceblue;
  font-size: 18px;
}